html {scroll-behavior: smooth;}
  
body {font: 20px/1.4 Arial; background-color: #F1F1F1; color:#333333;}
h1 {font-size:50px; padding:0; margin:0; color:#9F66FC;}
h2 {font:40px Arial; color:#162C38; border-left: 10px solid #9F66FC; background-color: #EEEEEE; padding:5px 5px 5px 30px;}
h3 {font:30px Arial;}
a {color:#047F7F;}
a:hover {color:#162C38;}

header, main, footer {width:1024px; margin:0 auto;}
main {background-color:#FFFFFF;}

header {padding:20px 0; width:1024px; height:330px; margin:0 auto;}
header div.img {width:300px; float:left;}
header div.intro {float:left; padding-left:40px;}
header p.w-decor {font-size:0.7em; padding:0; margin:0; color:#162C38;}
header p {padding:28px 0;}

.projects {padding-bottom:20px;}
.project {height:300px; margin:0 10px 0 0;}
.preview, .annotation {float:left;}
.project h3 {padding:0; margin:0;}
.annotation {padding-left:30px;}

.code {color:#047F7F;}
.code-text {color:#162C38;}

nav ul {padding:0; margin:0;}
nav li {padding:4px 10px 4px 0; margin:0; list-style-type: none; float:left;}
nav li a {background-color:#9F66FC; text-decoration:none; color:#FFFFFF; display: block; margin-right:5px; float:left; padding:4px 4px;}
nav li a:hover {background-color:#047F7F; color:#FFFFFF; text-decoration: none;}

section {padding:30px 30px 10px 30px;}
section p, section li {font-size:20px; padding:0 0 20px 0;}

footer {font-size:80%; padding:100px 0 150px 0; display:flex;}
footer div {float:left; width:33%;}
footer div a {text-align:center; display: block;}
footer div a.last {text-align:right; display: block;}
footer div img {margin-right:7px;}